.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $colorBackdrop;

    opacity: 1;
    @include transition(opacity);
}
.backdrop__hidden {
    opacity: 0;
    pointer-events: none;
}
