
  .footer__address {
    margin-right: 81px;
  }

  .footer__text-address {
    font-size: 14px;
    line-height: 1.7;
    color: $colorMain;
  }
  .footer__contact {
    font-size: 14px;
    line-height: 1.7;
    color:$colorGrey_06;
  }
  .footer__contacts {
    margin-top: 9px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }

