.team {
    background-color: $colorBackground;
}
.team__container {
    text-align: center;
}
.team__title {
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.team__list {
    display: flex;
}
.team__list-item {
    @include box-shadow;
    border-radius: 0px 0px 4px 4px;
    background-color: $colorMain;
    max-width: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team-name {
    padding: 30px 32px;
}
.team__title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__text {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}
.team__icon-social-list {
    display: flex;
    justify-content: space-between;
}
