.features__icon-wrapper {
    background-color: $colorBackground;
    width: 100%;
}

// .features__container {
//     padding: 60px 15px 30px;
// }

.features__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child){
        margin-bottom: 33px;
    }
}

.features__icon-wrapper {
    background-color: $colorBackground;
    @include centeredFlex;
    height: 121px;
    width: 100%;
    margin-bottom: 30px;
}

.features__icon {
    width: 70px;
}

.features__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    }
