.clients__container {
    text-align: center;
}
.clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.clients__list-links {
    display: flex;
    justify-content: space-between;
}

.clients__icon-link {
    @include centeredFlex;
    width: 170px;
    height: 90px;
    border-radius: $borderRadius;
    fill: $colorIcon;
    @include border($colorIcon);
    transition: fill $cubic-bezier, border $cubic-bezier;
    // @include transition(fill);
    // @include transition(border);
    &:hover {
        fill: $colorDecor;
        @include border($colorDecor);
    }
}

.clients__icon-brend {
    width: 45px;
    height: 50px;
}
