.making__container {
  /* display: none; */
  text-align: center;
}
.making__title {
  margin-bottom: 48px;
  font-size: 36px;
line-height: 49px;
letter-spacing: 0.03em;
}

.making__list {
  display: flex;
  flex-wrap: nowrap;
  & :not(:last-child) {
  margin-right: 30px;
}
}
.making__list-item {
  display: block;
  position: relative;
}

.making__title-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 27px 15px;
  background: $colorBg_08;
  color: $colorMain;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
// font-family: Roboto;
// font-style: normal;
// font-weight: bold;
// font-size: 36px;
// line-height: 42px;
// text-align: center;
// letter-spacing: 0.03em;