.header {
    padding: 10px 0;
    border-bottom: 1px solid $colorBorderBottomHeader;
}

.header__navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__burger-icon{
    display: block;
    background-color: $colorMain;
}

.header__menu {
    display: none;
    position: absolute;

    background-color: rgb(231, 191, 191);
}
