.footer__address-wrapper,
.footer__address {
    @include columnFlex;
}

@media screen and (max-width: 480px) {
    .footer__address-wrapper {
        margin-bottom: 56px;
    }
}

.footer__logo {
    margin-bottom: 20px;
    color: $colorMain;
}

.footer__text-address {
    font-size: 14px;
    line-height: 1.8;
    color: $colorMain;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}

.footer__contacts-item:not(:last-child) {
    margin-bottom: 5px;
}

.footer__contact {
    font-size: 14px;
    line-height: 1.8;
    color: $colorGrey_06;
    font-weight: normal;
    letter-spacing: 0.03em;
}
