.footer__form {
    @include columnFlex;
}
@media screen and (max-width: 768px) {
    .footer__subscribe-newsletter {
        text-align: center;
        width: 100%;
    }
    .footer__form-field{
        margin-bottom: 20px;
    }
}

.footer__form-field {
    position: relative;
    width: 100%;
}
.footer__form-input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    @include border(rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: $borderRadius;
    background-color: $colorBgFooter;
}

.footer__form-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: $colorGrey_06;

    .footer__form-field:focus-within > &,
    .footer__form-input:not(:placeholder-shown) + & {
        opacity: 0;
    }
}

.footer__subscribe-btn {
    @include centeredFlex;
    padding: 10px 27px;
    &:hover {
       box-shadow: $box-shadowBtn
    }
}
.footer__telegram-icon {
    margin-left: 10px;
}