.features {
  padding-bottom: 0;
}
.features__list {
  display: flex;
}
.features__list-item {
  width: calc((100% - 30px * 3) / 4);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.7;
}
.features__main-title,
.make__title,
.team__title {
  font-size: 36px;
  line-height: 1.2;
}
.features__icon-wrapper {
  @include centeredFlex;

  background-color: $colorBackground;
  height: 120px;
  margin-bottom: 30px;
  border-radius: $borderRadius;
}
.features__icon {
  width: 65px;
  height: 70px;
}
