.clients__container {
    text-align: center;
}

.clients__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
}

.clients__list-links {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.clients__list-item-link {
    margin: 15px;
    // width: 50%;
    width: calc((100% - 60px) / 2);
    // width: 210px;
}

.clients__icon-link {
    @include centeredFlex;
    // width: 50%;
    // width: calc(100% - 60px / 2 );
    // width: 210px;
    height: 90px;
    fill: $colorIcon;
    @include border($colorIcon);
    border-radius: $borderRadius;
    transition: fill $cubic-bezier, border $cubic-bezier;
    &:hover {
        fill: $colorDecor;
        @include border($colorDecor);
    }
}
