.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: $colorDecor;
  color: $colorMain;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: $borderRadius;

  &:hover{
      box-shadow: $box-shadowBtn;
  }
}
