.logo {
    @include fonts;
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.166;
    display: inline-block;
    color: $colorNav;
    .logo__decor {
        color: $colorDecor;
    }
}

//
// font-style: normal;
// font-weight: bold;
// font-size: 26px;
//
/* identical to box height */

// letter-spacing: 0.03em;

// color: #2196F3;
