.team {
    // background-color: rgb(240, 198, 198);
    background-color: $colorBackground;
}

.team__container {
    text-align: center;
}

.team__icon-social-list {
    display: inline-flex;
    justify-content: space-between;
    width: 206px;
}

.team__list-item {
    @include box-shadow;
    border-radius: 0px 0px 4px 4px;
    background-color: $colorMain;
    max-width: 480px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.team-name {
    padding: 30px 32px 24px;
}

.team__title {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 0.03em;
}

.team__title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}
